@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
}

body {
        padding:0px 15px;
        background-color: #636363;
        font-size: 16px;
        position: relative;
        height: 100vh;
        z-index: -1;
}

.overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(99, 99, 99, 0.85);
        /* Adjust the alpha value for opacity */
        z-index: 999;
}

.wrappermain {
        display: flex;
        flex-direction: column;
        height: 100vh;
}

.navbar {
        flex: 0 0 15%;
        padding: 20px 20px;
        display: flex;
        color: #fee6e3;
        flex-direction: column;
        border: 4px dotted #fee6e3;
        border-radius: 25px;
        border-top: 0px;
        margin-top: 10px 

}

.navbar .nav-main-heading {
        font-size: 26px;
        font-weight: 500;
}

.navbar .nav-heading {
        font-size: 14px;
}

.navbar .nav-button {
        margin-top: 20px;
}

@media screen and (min-width: 768px) {
        .navbar {
                flex-direction: row;
                justify-content: space-between;
        }

        .navbar .nav-button {
                margin-top: 0px;
        }
}

/* <!-- HTML !--> */
/* <button class="button-56" role="button">Button 56</button> */

/* CSS */
.button-56 {
        align-items: center;
        background-color: #fee6e3;
        border: 2px solid #111;
        border-radius: 8px;
        box-sizing: border-box;
        color: #111;
        cursor: pointer;
        display: flex;
        font-family: Inter, sans-serif;
        font-size: 16px;
        height: 48px;
        justify-content: center;
        line-height: 24px;
        max-width: 100%;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
}

.button-56:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
}

.button-56:hover:after {
        transform: translate(0, 0);
}

.button-56:active {
        background-color: #ffdeda;
        outline: 0;
}

.button-56:hover {
        outline: 0;
}

.button-56 option {
        text-align: center !important;
}

/* inputs */
.input-area {
        align-items: center;
        background-color: #fee6e3;
        border: 2px solid #111;
        border-radius: 8px;
        box-sizing: border-box;
        color: #111;
        cursor: pointer;
        display: flex;
        font-family: Inter, sans-serif;
        font-size: 16px;
        justify-content: center;
        line-height: 24px;
        max-width: 100%;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
}

.input-area:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
}

.input-area:hover:after {
        transform: translate(0, 0);
}

.input-area:active {
        background-color: #ffdeda;
        outline: 0;
}

.input-area:hover {
        outline: 0;
}

@media (min-width: 768px) {
        .button-56 {
                padding: 0 40px;
        }
}

/* Main Container */
.main-container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        color: #fee6e3;
        background-color: #fee6e3;
        border: 4px dotted #636363;
        border-radius: 25px;
        border-bottom: 0px;
        max-height: fit-content;
        flex: 1;
        margin-bottom: 20px;;
}

.main-container>* {
        background-color: #fee6e3;
        margin-top: 20px;
        color: #636363;
        border-radius: 25px;
        /* height: fit-content; */
}

@media (min-width: 768px) {
        .main-container {
                flex-wrap: wrap;
                /* Allow items to wrap onto multiple lines */
                flex-direction: row;
        }

        .main-container>* {
                flex: 1 0 50%;
                /* Each child takes 50% width */
        }
}

@media (min-width: 992px) {
        .main-container {
                flex-wrap: wrap;
                /* Allow items to wrap onto multiple lines */
                flex-direction: row;
        }

        .main-container>* {
                flex: 1 0 25%;
                /* Each child takes 50% width */
        }
}

.main-container .section-head {
        display: flex;
        justify-content: space-between;
        background-color: #636363;
        color: #fee6e3;
        padding: 10px;
        margin-right: 5px;
        margin-left: 5px;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
}

.main-container .task {
        padding: 10px;
}

.main-container .task-list {
        margin: 0px 5px;
        border: 2px solid #636363;
}

.main-container .task-content {
        display: flex;
        justify-content: space-between;
}

.main-container .task-content .task-text {
        width: 60%;
        font-weight: 600;
}

.main-container .task-content .task-footer {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
}

.main-container .task-count {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        background-color: #fee6e3;
        color: #636363;
        display: flex;
        align-items: center;
        justify-content: center;
}

/* .main-container .task-list:hover{
        font-size: 20px;
        transition: ease-in-out(1s);
        background-color:#464242;
} */

/* Form CSS */
.hideform {
        display: none;
}

.Oform {
        width: 300px;
        height: auto;
        background-color: #ffdeda;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        padding: 30px 40px;
}

.formHeader {
        display: flex;
        justify-content: space-between;
}

.form-button-div {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
}

.form-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 15px;
}

.form-content label,
.form-content select,
.form-content textarea {
        margin-bottom: 10px;
}

.form-content * {
        width: 100%;
}

.input-area {
        resize: none;
}

@media screen and (min-width: 578px) {
        .Oform {
                width: 550px;
                height: 600px;
        }

        .form-button-div {
                justify-content: space-evenly;
                flex-direction: row;
                margin-top: 30px;
        }

        .form-content {
                display: flex;
                flex-direction: row;
                margin-top: 30px;
        }

        .form-content * {
                width: 50%;
        }

        .form-content label,
        .form-content select,
        .form-content textarea {
                margin-bottom: 30px;
        }
}

.input-box {
        /* Add any specific styling for the input box here */
        /* width: 100%; */
        box-sizing: border-box;
        padding: 0 10px;
}